.appeal-subscribe.site__appeal-subscribe
  .container.appeal-subscribe__container
    .appeal-subscribe__title
      img(src="images/icon/emoji-type-1.png" alt="Наш телеграм канал, подписывайся escortly_am")
      | Наш телеграм канал, подписывайся <a href="#">@escortly_am</a>
    a(href="#").js-appeal-subscribe-close.appeal-subscribe__btn
      span.btn__title Закрыть