<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root.site
      .site__inner
        include includes/appeal-subscribe.pug
        include includes/header.pug
        include includes/filter.pug

        main(role="main").main.site__main
          .container.main__container
            

        include includes/footer.pug

    include includes/foot.pug